.banner {
  padding-top: 1px;
}

.banner__title {
  margin-top: 29px;
  margin-bottom: 25px;
}

// .banner__contain {
//   margin-left: 35px;
//   margin-right: 35px;
// }

.banner__image {
  margin-top: 25px;
}


@media (min-width: $width-tablet) {
  .banner {
    background-image: url("../../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 875px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .banner__title {
    columns: $heading-font-color;
    margin-top: 68px;
    margin-bottom: 33px;
  }

  .banner__image {
    display: none;
  }

  .banner__contain {
    margin-bottom: 48px;
  }
}

@media (min-width: $width-desktop) {
  .banner__title {
    width: 420px;
  }

  .banner {
    background-image: url("../../img/index-can-desktop@1x.png");
    background-position: top 0 left calc(50% + 120px);
    min-height: 499px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
  }
}
