.banner {
  // padding-top: 1px;
  // background-image: url("../../img/index-background-mobile@1x.jpg");
  // background-repeat: no-repeat;
  // background-position: top left -10px;
  padding-top: 29px;
}

.banner__title {
  margin-top: 0;
  margin-bottom: 19px;
}

.banner__contain {
  margin-bottom: 29px;
//   margin-left: 35px;
//   margin-right: 35px;
}

.banner__image {
  display: block;
  // text-align: center;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: $width-tablet) {
  .banner {
    background-image: url("../../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 860px;
    padding-left: 80px;
    padding-right: 90px;
  }

  .banner__title {
    columns: $heading-font-color;
    margin-top: 48px;
    margin-bottom: 33px;
  }

  .banner__image {
    display: none;
  }

  .banner__contain {
    margin-top: 42px;
    margin-bottom: 48px;
  }
}

@media (min-width: $width-desktop) {
  .banner__title {
    width: 420px;
    margin-top: 78px;
    // margin-left: 81px;
  }

  .banner__contain {
    margin-bottom: 50px;
  }

  .banner {
    background-image: url("../../img/index-can-desktop@1x.png");
    background-position: top  left 68%;
    min-height: 499px;
    padding-left: 81px;
    padding-right: 0;
    // margin-left: 110px;
    // margin-right: 110px;
    width: auto;
  }
}
