.features {
  padding-top: 0;
  padding-bottom: 22px;
}

.features__title {
  margin-bottom: 28px;
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  position: relative;
  width: 100%;
  margin-left: 80px;
  margin-bottom: 20px;
  min-height: 60px;

  &::before {
    content: "";
    position: absolute;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: $button-background-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
  }

  &--useful::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--replace::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--fast::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.features__description {
  padding-top: 2px;
}

@media (min-width: $width-tablet) {
  .features {
    padding-top: 25px;
    padding-bottom: 0;
    margin-bottom: 58px;
  }

  .features__title {
    margin-bottom: 72px;
  }

  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    counter-reset: list 0;
    justify-content: space-between;
    align-content: space-between;
    min-height: 545px;
  }

  .features__item {
    width: 46%;
    margin-left: 0;
    margin-bottom: 90px;
    padding-top: 110px;
    padding-bottom: 45px;

    &::before {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 0;
    }

    &--useful {
      margin-bottom: 90px;
    }
  }

  .features__description {
    width: 245px;
    padding-top: 1px;

    &::before {
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -1;
      min-width: 134px;
      text-align: center;
      left: 112px;
      top: -40px;
      font-size: 281px;
      line-height: 281px;
      color: $alternate-background-color;
      content: counter(list);
      counter-increment: list;
    }
  }
}

@media (min-width: $width-desktop) {
  .features {
    padding: 0;
    margin-bottom: 0;
  }

  .features__item {
    width: 235px;

    margin-right: 90px;
    margin-bottom: 22px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .features__list {
    justify-content: flex-start;
    min-height: 250px;
  }

  .features__description {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .features__item {
    &--useful::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--powder::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--replace::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--fast::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}
