.features {
  padding-left: 20px;
  padding-right: 20px;
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  position: relative;
  width: 100%;
  margin-left: 78px;
  margin-bottom: 20px;
  min-height: 60px;

  &::before {
    content: "";
    position: absolute;
    left: -78px;
    width: 60px;
    height: 60px;
    background-color: $button-background-color;
  }

  &::after {
    @include green-icon;
  }

  &--useful::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::after {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--replace::after {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--fast::after {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.features__description {
  padding-top: 5px;
}

@media (min-width: $width-tablet) {
  .features {
    margin-top: 51px;
  }

  .features__title {
    margin-bottom: 63px;
  }

  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    counter-reset: list 0;
  }

  .features__item {
    width: 50%;
    margin-left: 0;
    margin-bottom: 90px;
    padding-top: 117px;

    &::before {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 15px;
      left: 16px;
      width: 64px;
      height: 64px;
    }
  }

  .features__description {
    width: 244px;
    //position: relative;

    &::before {
      position: absolute;
      z-index: -1;
      right: 0;
      top: 110px;
      font-size: 280px;
      color: $alternate-background-color;
      content: counter(list);
      counter-increment: list;
    }
  }
}

@media (min-width: $width-desktop) {
  .features {
    margin-left: 110px;
    margin-right: 110px;
    padding: 0;
  }

  .features__item {
    width: 20%;
  }

  .features__list {
    justify-content: space-between;
  }

  .features__description {
    width: 240px;
    font-size: 16px;
    line-height: 24px;
  }
}
