.features {
  padding-left: 20px;
  padding-right: 20px;
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  position: relative;
  width: 100%;
  margin-left: 78px;
  margin-bottom: 20px;
  min-height: 60px;

  &::before {
    content: "";
    position: absolute;
    left: -78px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  &::after {
    @include green-icon;
  }

  &--useful::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::after {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--replace::after {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--fast::after {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.features__description {
  padding-top: 5px;
}
