.good-title {
  color: $heading-font-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;

  &--center {
    text-align: center;
  }
}
