.goods {
  border: none;
  // display: flex;
  // flex-direction: column;
  margin: 0;
  // padding-left: 20px;
  // padding-right: 20px;
  padding-top: 0;
}

.goods__list {
  @include list-reset;
  // display: flex;
  // flex-direction: column;
}

.goods__item {
  border-bottom: $line-separate-color solid 1px;
  padding-bottom: 25px;
}

@media (min-width: $width-tablet) {
  .goods__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goods__item {
    margin-top: 140px;
    border: none;
  }
}

@media (min-width: $width-desktop) {
  .goods {
    // width: 1220px;
    // margin-left: auto;
    // margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .goods__list {
    justify-content: space-between;
  }
}
