.heading {
  font-size: 36px;
  line-height: 36px;
  color: $heading-font-inverse-color;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;

  &--black {
    color: $heading-font-color;
  }
}
