.icon {
  &:hover,
  &:focus {
    color: $button-background-color;
    outline: none;
  }

  &:active {
    color: $button-background-color;
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .icon {
    &--vkontakte {
      width: 30px;
      height: 19px;
    }

    &--instagram {
      width: 23px;
      height: 39px;
    }

    &--facebook {
      width: 14px;
      height: 36px;
    }
  }
}
