.icon {
  color: #666666;

  &:hover {
    color: $button-background-color;
  }

  &:active {
    color: $button-background-color;
    opacity: 0.3;
  }

  // &--vkontakte {
  //   width: 30px;
  //   height: 19px;
  // }

  // &--instagram {
  //   width: 20px;
  //   height: 17px;
  // }

  // &--facebook {
  //   width: 14px;
  //   height: 36px;
  // }
}

@media (min-width: $width-tablet) {
  .icon {
    &--vkontakte {
      width: 30px;
      height: 19px;
    }

    &--instagram {
      width: 23px;
      height: 39px;
    }

    &--facebook {
      width: 14px;
      height: 36px;
    }
  }
}
