.main-nav {
  padding-top: 10px;
  position: relative;
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  top: -30px;
  width: 24px;
  height: 18px;
  background-color: $heading-font-inverse-color;
  border: none;
  cursor: pointer;

  &--menu {
    background-image: url("../img/icon-mobile-menu.svg");
  }

  &--close {
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
  }
}

.main-nav__wrapper {
  width: 100vw;
  height: auto;

  margin-left: -20px;
  overflow: hidden;

  &--hidden {
    height: 0;
    padding: 0;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
}

@media (min-width: $width-tablet) {
  .main-nav__wrapper {
    margin-left: 0;
    display: block;
    padding-top: 4px;
    width: 100%;
    color: $main-menu-text-color;
    height: auto;

    &--hidden {
      height: auto;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    background-image: none;
    padding-top: 24px;
    width: 70%;
    display: flex;
  }
}

@media (min-width: $width-desktop) {
  .main-nav {

    width: auto;
    padding-top: 55px;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;

    &--inner {
      background-image: none;
      min-height: auto;
    }
  }

  .main-nav__wrapper {
    margin-bottom: 0;
  }
}
