.metrics__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 0;
  padding-top: 25px;
  margin-bottom: 33px;
}

.metrics__item {
  position: relative;
  margin: 0;
  border: $metrics-border-color solid 1px;
  border-radius: 3px;
  box-sizing: border-box;
  min-width: 124px;
  min-height: 56px;
  padding-top: 13px;

  &:nth-child(1) {
    margin-right: 32px;
  }
}

.metrics__title {
  margin: 0;
  color: $heading-font-color;
  line-height: 24px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
}

.metrics__description {
  position: absolute;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 50%;
  padding: 0 13px;
  background-color: $alternate-background-color;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

.metrics__cost {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: $heading-font-color;
}

@media (min-width: $width-tablet) {
  .metrics {
    display: flex;
    padding-top: 54px;
  }

  .metrics__list {
    padding-top: 0;
  }

  .metrics__item {
    width: 162px;
    height: 72px;
    padding-top: 15px;

    &:nth-child(1) {
      margin-right: 42px;
    }
  }

  .metrics__title {
    font-size: 30px;
    line-height: 37px;
  }

  .metrics__description {
    max-width: 80%;
    width: max-content;
    background-color: $heading-font-inverse-color;

    line-height: 14px;
    font-size: 14px;
    bottom: -6px;
    padding: 0 8px;
  }

  .metrics__cost {
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    margin-left: auto;
    width: 25%;
    padding-top: 7px;
  }
}

@media (min-width: $width-desktop) {
  .metrics {
    padding-top: 69px;
    display: block;
  }

  .metrics__list {
    margin-bottom: 47px;
  }

  .metrics__cost {
    margin-left: 0;
    width: 100%;
    text-align: left;
    display: flex;
    padding-top: 8px;
  }

  .metrics__cost-label {
    margin-right: 64px;
  }

  .metrics__description {
    background-color: #f2f2f2;
  }
}
