.option-table {
  display: flex;
  flex-direction: column;
}

.option-table__row {
  display: flex;
  justify-content: space-between;
}

.option-table__cell {
  font-size: 12px;
  line-height: 16px;
  color: $main-font-color;
  font-family: "ArialMT", sans-serif;

  &--right {
    text-align: right;
  }
}

@media (min-width: $width-tablet) {
  .option-table__row {
    // height: 31px;
    border-bottom: $line-separate-color solid 1px;
  }

  .option-table__cell {
    margin-top: 6px;
    margin-bottom: 9px;
  }
}
