.page-footer {
  background-color: $alternate-background-color;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  background-image: url("../img/logo-footer.svg");
  background-position: 50% 55%;
  background-size: 128px 26px;
  background-repeat: no-repeat;
  flex-basis: 94px;
  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  flex-basis: 62px;
  border-top: $line-separate-color solid 1px;
  border-bottom: $line-separate-color solid 1px;
  padding-left: 73px;
  padding-right: 82px;
}

.page-footer__copyright {
  flex-basis: 78px;
}

@media (min-width: $width-tablet) {
  .page-footer {
    min-height: 150px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 58px;
  }

  .page-footer__logo {
    flex-basis: 152px;
    background-position: left center;
  }

  .page-footer__social {
    flex-basis: 124px;
    border: none;
    padding-left: 76px;
  }

  .page-footer__copyright {
    flex-basis: 163px;
  }
}
