.page-name__title {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 41px;
  text-align: left;
}

.page-name__subtitle {
  margin-top: -2px;
  margin-bottom: 39px;
  padding-right: 30px;
  width: min-content;
  max-width: 280px;
}

@media (min-width: $width-tablet) {
  .page-name {
    border: none;
    margin-bottom: 64px;
  }

  .page-name__subtitle {
    margin-top: 55px;
    padding-left: 40px;
  }

  .page-name__title {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

@media (min-width: $width-desktop) {
  .page-name {
    margin-bottom: 65px;
  }

  .page-name__title {
    padding-top: 46px;
  }

  .page-name__subtitle {
    padding-left: 0;
  }
}
