.site-list {
  list-style: none;
  padding-left: 0;
}

.site-list__item {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  font-family: $oswald;
  box-sizing: border-box;
  min-height: 66px;
  padding-top: 22px;
  border-top: $line-separate-color solid 1px;

  &:last-child {
    min-height: 65px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .site-list {
    display: flex;
    // width: 100%;
    justify-content: flex-end;
  }

  .site-list__item {
    color: $main-menu-text-color;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: normal;
    margin-left: 35px;
    font-size: 18px;
    line-height: 25px;
    border-top: none;
    padding-top: 13px;
    min-height: auto;

    &:last-child {
      min-height: auto;
    }

    &--active {
      padding-bottom: 7px;
      border-bottom: $button-background-color solid 2px;
    }
  }
}

@media (min-width: $width-desktop) {
  .site-list__item {
    color: $heading-font-inverse-color;
    font-size: 20px;
    line-height: 25px;
    margin-left: 35px;

    &--active {
      border-color: $heading-font-inverse-color;
    }

    &--black {
      color: $main-menu-text-color;
      border-color: $button-background-color;
    }
  }

  .site-list {

    width: auto;
  }
}
