.social {
  display: flex;
}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.social__link {
  display: flex;

  &--vkontakte {
    padding-top: 9px;
    width: 22px;
    height: 19px;
  }

  &--instagram {
    padding-top: 6px;
    width: 20px;
    height: 19px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: $width-tablet) {
  .social__link {
    &--vkontakte {
      padding-top: 9px;
      width: 22px;
      height: 19px;
    }

    &--instagram {
      padding-top: 6px;
      width: 20px;
      height: 19px;
    }

    &--facebook {
      width: 10px;
      height: 19px;
    }
  }
}
