.social {
  display: flex;
}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.social__item {
  margin: 5px 9px 5px 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.social__link {
  display: flex;
  color: #666666;

  &--vkontakte {
    padding-top: 2px;
    width: 22px;
    height: 14px;
  }

  &--instagram {
    padding-top: 3px;
    padding-right: 1px;
    width: 20px;
    height: 17px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }

  &:hover,
  &:focus {
    color: $button-background-color;
  }
}

@media (min-width: $width-tablet) {
  .social__list {
    align-items: flex-start;
  }

  .social__link {
    &--vkontakte {
      padding-top: 9px;
      width: 30px;
      height: 19px;
    }

    &--instagram {
      padding: 0;
      width: 23px;
      height: 39px;
    }

    &--facebook {
      width: 14px;
      height: 36px;
    }
  }
}
