body {
  margin: 0;
  min-width: 320px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $main-font-color;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

br {
  display: none;
}

tbody {
  display: block;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  // max-width: 320px;
  min-width: 320px;
  box-sizing: border-box;
}

@media (min-width: $width-tablet) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    min-width: 768px;
    max-width: 900px;

    &--form {
      padding-left: 70px;
      padding-right: 65px;
    }
  }

  br {
    display: inline;
  }
}

@media (min-width: $width-desktop) {
  .container {
    max-width: 1280px;

    &--location {
      position: relative;
    }

    &--form {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
