// colors
$line-separate-color: #dfdfdf;
$heading-font-color: #111111;
$heading-font-inverse-color: #ffffff;
$main-font-color: #444444;
$button-background-color: #68b738;
$alternate-background-color: #f2f2f2;
$main-menu-text-color: #222222;

// numbers
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;
