.subtitle {
  font-size: 14px;
  line-height: 18px;
  color: $main-font-color;
  // margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;

  &--center {
    color: $heading-font-inverse-color;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
  }

  &--black {
    text-transform: uppercase;
  }
}

@media (min-width: $width-tablet) {
  .subtitle {
    &--center {
      color: $heading-font-color;
      font-size: 20px;
      line-height: 20px;
      text-align: left;
    }

    &--black {
      font-size: 20px;
      line-height: 30px;
      text-align: left;
    }
  }
}
